<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178398430089-akkk2lmifp3o939gplq0d8e0esg36e80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178398430089-akkk2lmifp3o939gplq0d8e0esg36e80</string>
	<key>API_KEY</key>
	<string>AIzaSyBdI2n5B7cVM5ciwvM43Ys3KA4X24W-oUM</string>
	<key>GCM_SENDER_ID</key>
	<string>178398430089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.demojosue</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-tall</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-tall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178398430089:ios:b3bf7fa1dee769414e1758</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-tall.firebaseio.com</string>
</dict>
</plist>